@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Manrope&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "manrope";
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
  font-family: "manrope";
  font-weight: 600;
}
